<fieldset class="active__form" id="form12">
    <div class="sub__title__container">
        <div>
            <p>Step 11/12</p>
            <h2>Additional Details</h2>
        </div>
    </div>
    <div class="input__container">
        <div class="sub__title__container">
            <h6>Reference</h6>
        </div>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="reference_1_name">Reference 1:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_1_name"
                    placeholder="Please supply the name">
            </div>
            <div class="address_col">
                <label class="reqd" for="reference_1_email">Reference 1:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_1_email"
                    placeholder="Please supply the email">
            </div>
        </div>
        <label class="reqd" for="reference_1_address">Reference 1:</label>
        <input class="input-with-feedback form-control" type="text" id="reference_1_address"
            placeholder="Please supply the address">
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="reference_1_postcode">Reference 1:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_1_postcode"
                    placeholder="Please supply the postcode">
            </div>
            <div class="address_col">
                <label class="reqd" for="reference_1_phone">Reference 1:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_1_phone"
                    placeholder="Please supply the telephone number">
            </div>
        </div>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="reference_2_name">Reference 2:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_2_name"
                    placeholder="Please supply the name">
            </div>
            <div class="address_col">
                <label class="reqd" for="reference_2_email">Reference 2:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_2_email"
                    placeholder="Please supply the email">
            </div>
        </div>
        <label class="reqd" for="reference_2_address">Reference 2:</label>
        <input class="input-with-feedback form-control" type="text" id="reference_2_address"
            placeholder="Please supply the address">
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="reference_2_postcode">Reference 2:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_2_postcode"
                    placeholder="Please supply the postcode">
            </div>
            <div class="address_col">
                <label class="reqd" for="reference_2_phone">Reference 2:</label>
                <input class="input-with-feedback form-control" type="text" id="reference_2_phone"
                    placeholder="Please supply the telephone number">
            </div>
        </div>
        <div class="sub__title__container">
            <h6>Fee Information</h6>
        </div>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="payee_of_fees">Who will pay your fees?</label>
                <select class="input-with-feedback form-control ellipsis" name="payee_of_fees" id="payee_of_fees">
                    <option value="">(Select)</option>
                    <option value="You">You</option>
                    <option value="Student Loan Company">Student Loan Company</option>
                    <option value="Employer">Employer</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="address_col">
                <label for="source_of_fees">Please specify other fee source: </label>
                <input class="input-with-feedback form-control" type="text" id="source_of_fees">
            </div>
        </div>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="student_loan">Have you previously received a student loan?</label>
                <select class="input-with-feedback form-control ellipsis" name="student_loan" id="student_loan">
                    <option value="">(Select)</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="address_col">
                <label for="loan_period">Please provide period: </label>
                <input class="input-with-feedback form-control" type="text" id="loan_period">
            </div>
        </div>
        <label for="loan_qualification">Please provide the qualification: </label>
        <input class="input-with-feedback form-control" type="text" id="loan_qualification">
        <label for="loan_institution">Please provide the institution attended: </label>
        <input class="input-with-feedback form-control" type="text" id="loan_institution">
        <label for="course_incomplete_reasons">If the course has not been completed, please provide reasons below:
        </label>
        <input class="input-with-feedback form-control" type="text" id="course_incomplete_reasons">

        <div class="sub__title__container">
            <h6>Marketing Information</h6>
        </div>
        <label class="reqd" for="source_of_finding_us">How did you find about us?</label>
        <select class="input-with-feedback form-control ellipsis" name="source_of_finding_us" id="source_of_finding_us">
            <option value="">(Select)</option>
            <option value="Website">Website</option>
            <option value="Advertisement">Advertisement</option>
            <option value="Funder/Sponsor">Funder/Sponsor</option>
            <option value="Family/Friends">Family/Friends</option>
            <option value="Other">Other</option>
        </select>
        <label for="other_source_of_finding_us">If other, please provide full details: </label>
        <input class="input-with-feedback form-control" type="text" id="other_source_of_finding_us">
        <div class="buttons">
            <button class="btn btn-primary prev__btn" onclick="prevForm();">Back</button>
            <button class="btn btn-primary nxt__btn" onclick="nextForm()">Next</button>
        </div>
    </div>
</fieldset>
