<fieldset class="active__form" id="form8">
    <div class="sub__title__container">
        <div>
            <p>Step 7/12</p>
            <h2>Photo Upload</h2>
            <p> Please upload your photo.</p>
            <p>Your photo must be a passport sized photo, with a plain background.
            Please ensure your photo is an image file e.g. .jpg OR .jpeg OR .jpe OR .jfif</p>
        </div>
        <div class="save"><button class="btn btn-primary" id="save_btn">Save</button></div>
    </div>
    <div class="input__container">
        <label class="reqd" for="image">File:</label>
        <div class="file-upload">
            <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" name="chooseFile" id="image">
            </div>
        </div>
        <div class="buttons"> <button class="btn btn-primary prev__btn" onclick="prevForm();">Back</button> <button class="btn btn-primary nxt__btn" onclick="nextForm();">Next</button> </div>
    </div>
</fieldset>
