<fieldset class="active__form" id="form11">
    <div class="sub__title__container">
        <div>
            <p>Step 10/12</p>
            <h2>Statutory Data</h2>
        </div>
        <div class="save"><button class="btn btn-primary" id="save_btn">Save</button></div>
    </div>
    <div class="input__container">
        <label class="reqd" for="disability">Disability</label>
        <select class="input-with-feedback form-control ellipsis" name="disability" id="disability">
            <option value="">(Select)</option>
        </select>
        <label class="reqd" for="disability_allowance">Disability Allowance</label>
        <select class="input-with-feedback form-control ellipsis" name="disability_allowance" id="disability_allowance">
            <option value="">(Select)</option>
        </select>
        <label class="reqd" for="ethnicity">Ethnicity</label>
        <select class="input-with-feedback form-control ellipsis" name="ethnicity" id="ethnicity">
            <option value="">(Select)</option>
        </select>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="parental_education">Parental Education</label>
                <select class="input-with-feedback form-control ellipsis" name="parental_education" id="parental_education">
                    <option value="">(Select)</option>
                </select>
            </div>
            <div class="address_col">
                <label class="reqd" for="sex_identifier">Sex Identifier</label>
                <select class="input-with-feedback form-control ellipsis" name="sex_identifier" id="sex_identifier">
                    <option value="">(Select)</option>
                </select>
            </div>
        </div>
        <label class="reqd" for="religion_or_belief">Religion or Belief</label>
        <select class="input-with-feedback form-control ellipsis" name="religion_or_belief" id="religion_or_belief">
            <option value="">(Select)</option>
        </select>
        <div class="address_row">
            <div class="address_col">
                <label class="reqd" for="sexual_orientation">Sexual Orientation</label>
                <select class="input-with-feedback form-control ellipsis" name="sexual_orientation" id="sexual_orientation">
                    <option value="">(Select)</option>
                </select>
            </div>
            <div class="address_col">
                <label class="reqd" for="care_leaver">Care Leaver</label>
                <select class="input-with-feedback form-control ellipsis" name="care_leaver" id="care_leaver">
                    <option value="">(Select)</option>
                </select>
            </div>
        </div>
        <div class="buttons"> <button class="btn btn-primary prev__btn" onclick="prevForm();">Back</button> <button class="btn btn-primary nxt__btn" onclick="nextForm();">Next</button> </div>
    </div>
</fieldset>
