<fieldset class="active__form" id="form9">
    <div class="sub__title__container">
        <div>
            <p>Step 8/12</p>
            <h2>Document Upload</h2>
        </div>
        <div class="save"><button class="btn btn-primary" id="save_btn">Save</button></div>
    </div>
    <div class="input__container">
        <label class="reqd" for="document">File:</label>
        <div class="file-upload">
            <div class="file-select">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                <input type="file" name="chooseFile" id="document">
            </div>
        </div>
        <div class="buttons"> <button class="btn btn-primary prev__btn" onclick="prevForm();">Back</button> <button class="btn btn-primary nxt__btn" onclick="nextForm();">Next</button> </div>
    </div>
</fieldset>
