<fieldset class="active__form" id="form3">
    <div class="sub__title__container">
        <div>
            <p>Step 2/12</p>
            <h2>Personal Data</h2>
        </div>
        <div class="save"><button class="btn btn-primary" id="save_btn">Save</button></div>
    </div>
    <div class="input__container">
        <label class="reqd" for="marital_status">Marital Status</label>
        <select class="input-with-feedback form-control ellipsis" name="marital_status" id="marital_status">
            <option value="">(Select)</option>
        </select>
        <label class="reqd" for="nationality">Nationality</label>
        <select class="input-with-feedback form-control ellipsis" name="nationality" id="nationality">
            <option value="">(Select)</option>
        </select>
        <label class="reqd" for="domicile">Domicile</label>
        <select class="input-with-feedback form-control ellipsis" name="domicile" id="domicile">
            <option value="">(Select)</option>
        </select>
        <label class="reqd" for="ethnicity">Ethnicity</label>
        <select class="input-with-feedback form-control ellipsis" name="ethnicity" id="ethnicity">
            <option value="">(Select)</option>
        </select>
        <div class="buttons"> <button class="btn btn-primary prev__btn" onclick="prevForm();">Back</button> <button class="btn btn-primary nxt__btn" onclick="nextForm();">Next</button> </div>
    </div>
</fieldset>
