* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: white;
    --secondery-color: #2490ef;
    --shadow-color: #a6b1b9;
}

body {
    align-items: center;
    justify-content: center
}

.form__container {
    margin-top: 2rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem
}

.title__container {
    width: 100%;
    padding: 0.6rem 1.5rem;
    border-bottom: 1px solid #e2e6e9;
}

.title__container h1 {
    margin-bottom: 0.4rem
}

.body__container {
    display: flex
}

.left__container {
    width: 35%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #e2e6e9;
    padding: 1.25rem 0;
    margin-right: 2rem;
    padding-right: 1.8rem;
    position: relative;
}
.checkbox_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.save{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1rem 0;
}

.side__titles {
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.title__name {
    padding: 0.6rem 0.1rem;
    margin-bottom: 0.25rem
}

.title__name h3 {
    margin-bottom: 0rem;
    text-align: right;
    font-size: medium;
}

.title__name p {
    text-align: right;
    color: var(--shadow-color);
}

.progress__bar__container {
    padding-top: 0.6rem
}

.progress__bar__container ul .active {
    background-color: var(--secondery-color)
}

.progress__bar__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--shadow-color);
    padding: 0.3rem 0.4rem;
    margin-bottom: 0.86rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 2rem
}

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.file-upload .file-select:hover {
    border-color: #1366ae;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
 }
.file-upload .file-select:hover .file-select-button {
    background: #1366ae;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select input[type="file"] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}
.right__container {
    width: 65%;
    display: block;
    padding: 1.5rem 1.5rem
}

.right__container fieldset {
    border: none
}
.sub__title__container {

    border-bottom: 1px solid #e2e6e9;
    display: flex;
    justify-content: space-between;
}

.sub__title__container h2 {
    margin: 0.4rem 0
}

.sub__title__container h6 {
    padding: 0.8rem 0
}


.sub__title__container p {
    color: var(--gray-600);
}

.active__form {
    display: none
}

.reqd__validate{
    border: red 1.5px solid;
}

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem
}

.input__container label {
    margin-top: 0.6rem;
    font-size: smaller;
    margin-bottom: 0.4rem
}

.input__container input select checkbox{
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid var(--secondery-color);
    margin-bottom: 1.2rem;
    outline: none;

}

.nxt__btn {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: inherit;
    padding: 0
}

.address_row{
    display: flex;
    justify-content: space-between;
}

.address_col{
    width: 49%;
}
.radio_button{
    display: inline-flex;
    align-items: center;
}

.btn.btn-primary:hover{
    background-color: #1579d0;
}

.selection {
    display: flex;
    align-items: center;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%
}

.selection:hover {
    border: 1px solid var(--secondery-color);
    background-color: var(--primary-color);
    cursor: pointer
}

.imoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    margin: 0 0.2rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    font-weight: 900;
    color: yellow;
    border-radius: 50%;
    background: var(--shadow-color)
}

.descriptionTitle h3 {
    color: #ffffff;
    margin-bottom: 4px
}

.descriptionTitle p {
    font-size: 0.75rem;
    color: var(--shadow-color)
}

.slider {
    display: flex;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-top: 3rem
}

.slider:hover {
    opacity: 1
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative
}

.slider::-webkit-range-thumb {
    width: 50px;
    height: 50px;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative
}

.output__value {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 2em;
    padding: 0.8rem 0.8rem;
    position: absolute;
    background-color: var(--secondery-color)
}

.output__value::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 40px;
    background-color: var(--secondery-color)
}

.icon {
    display: inline-block;
    font-size: 0;
    width: 16px;
    height: 18.5px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    fill: var(--icon-fill);
    stroke: #f4f5f6;
    stroke-width: 1.5;
}
.reqd::after{
        content: ' *';
color: var(--red-400);
    }

    @media only screen and (max-width: 600px) {
        body {
            background-color: var(--primary-color)
        }

        .form__container {
            margin: 0;
            padding: 0
        }

        .body__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0
        }

        .right__container {
            width: 90%;
            margin: 0
        }

        .title__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.5rem
        }

        .left__container {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            border: none
        }

        .buttons {
            justify-content: space-between
        }

        .descriptionTitle h3 {
            font-size: 1rem
        }

        .descriptionTitle p {
            font-size: 0.6rem
        }

        .side__titles {
            display: none;
            flex-direction: row;
            justify-content: space-evenly
        }

        .title__name h3 {
            font-size: 0.75rem
        }

        .title__name p {
            font-size: 0.5rem
        }

        .progress__bar__container {
            margin-bottom: 0
        }

        .progress__bar__container ul::before {
            height: 5vh
        }

        .progress__bar__container ul li {
            margin: 10px;
            padding: 10px
        }

        .progress__bar__container ul .active::before {
            transform: rotate(90deg)
        }
    }

